.Navbar {
    display: flex;
    padding: 2rem;
    margin: auto;
    font-family: sans-serif;
    max-width: 1200px;
    justify-content: space-between;
}

.Navbar__Link {
    padding-right: 8px;
    font-size: 3rem;
}
a:link.Navbar__Link {
    text-decoration: none;
}

a:visited.Navbar__Link {
    color: #fff;
}

.Navbar__Link--active,
a:hover.Navbar__Link {
    font-size: 4rem;
}

.Navbar__Items {
    display: flex;
}

.Navbar__Items--right {
    margin-left: auto;
}

.Navbar__Link-toggle {
    display: none;
}

@media only screen and (max-width: 599px) {

    .Navbar__Items,
    .Navbar {
        flex-direction: column;
    }

    .Navbar__Items {
        display: none;
    }

    .Navbar__Items--right {
        margin-left: 0;
    }

    .Navbar__ToggleShow {
        display: flex;
    }

    .Navbar__Link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
}